@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,500,700');  
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" );

.item:nth-child(1)
{
	background-image: url('./images/FixAnglePanel.png');
}

.item:nth-child(2)
{
	background-image: url('./images/FixedAngleWithSlidePanel.png');
}

.item:nth-child(3)
{
	background-image: url('./images/AngleAdjustableWithSlidePanel.png');
}

.item:nth-child(4)
{
	background-image: url('./images/1520HeightAjustableTube.png');
}

.item:nth-child(5)
{
	background-image: url('./images/1215HeightAdjustableTube.png');
}

.item:nth-child(6)
{
	background-image: url('./images/1500StainlessSteelTube.png');
}


.item:nth-child(7)
{
	background-image: url('./images/20inchBase.png');
}

.item:nth-child(8)
{
	background-image: url('./images/24inchBase.png');
}

.item:nth-child(9)
{
	background-image: url('./images/4LegBase.png');
}

.item:nth-child(10)
{
	background-image: url('./images/3inchMedicalCaster.png');
}

.item:nth-child(11)
{
	background-image: url('./images/4inchTwinWheelCaster.png');
}

.item:nth-child(12)
{
	background-image: url('./images/3inchTwinWheelCaster.png');
}

.item:nth-child(13)
{
	background-image: url('./images/Basket.png');
}

.item:nth-child(14)
{
	background-image: url('./images/AdapterHolder.png');
}

.item:nth-child(15)
{
	background-image: url('./images/Shelf.png');
}

.item:nth-child(16)
{
	background-image: url('./images/CableManagementHolder.png');
}

.item:nth-child(17)
{
	background-image: url('./images/BarcodeScannerHolder.png');
}

.item:nth-child(18)
{
	background-image: url('./images/Handle.png');
}

.item:nth-child(19)
{
	background-image: url('./images/Rail.png');
}

.item:nth-child(20)
{
	background-image: url('./images/PrinterHolder.png');
}

#caster_toggle_label_1
{
	display: none;
}

#caster_toggle_label_2
{
	display: none;
}

#caster_toggle_label_3
{
	display: none;
}

#caster_toggle_label_4
{
	display: none;
}

#caster_toggle_label_5
{
	display: none;
}

#caster_toggle_label_6
{
	display: none;
}

/* Toggle */
.switch {
  position:absolute;
  display: inline-block;
  width: 60px;
  height: 34px;
  scale: 0.75;
  pointer-events: fill;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #6bb4f7;
}

input:focus + .slider {
  box-shadow: 0 0 1px #6bb4f7;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.toggle_title
{
  position: absolute;
  left: -60px;
  top: 8.5px;
  font-size: 18px;
  text-align: center;
  color: #6bb4f7;
	font-family: "Roboto", sans-serif;
}